.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

body {
    background-color: #c57777;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 10px;
}

.randomJoke {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
}
.actionButton {
    width: 250px;
    height: 50px;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
    transition: all 0.5s;
    margin: 15px;
}

.actionButton:hover {
    background-color: white;
}

.post {
    background-color: rgb(117, 239, 239);
}

.get {
    background-color: #f0fa64;
}

/*styles for getJokes.ejs */

.text{
    background-color: white;
    width: 250px;
    height: 30px;
}

.checkBoxContainer, .languajeContainer  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flags {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 15px;
    flex-wrap: wrap;
    align-content: center;

}

.checkboxContent, .languajeContent {
    display: flex;
    flex-direction: column;
}

#return {
    display: flex;
    align-items: center;
    justify-content: center;
}
.customJokeTitle {
    margin-top: 15px;
}
.getJokeBtn {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jokeContainer {
    grid-area: 2 / 1 / 3/ 3;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

.jokeContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.formContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 450px;
}
.customJokeForm {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 100px;
}